.header__logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../../images/header__logo.svg);
}

@media screen and (max-width: 425px) {
  .header__logo {
    width: 104px;
    height: 24px;
    margin-bottom: 41px;
  }
}

@media screen and (min-width: 426px) {
  .header__logo {
    width: 142px;
    height: 33px;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 918px) {
  .header__logo {
    margin-left: 27px;
  }
}

.header__logo:hover {
  opacity: .6;
  -webkit-transition: .4s;
  -o-transition: .4s;transition: .4s;
}