.profile__line {
  width: auto;
  max-width: 562px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  position: relative;
}

@media screen and (max-width: 709px) {
  .profile__line {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin-bottom: 14px;
  }
}

@media screen and (min-width: 710px) {
  .profile__line {
    justify-self: flex-start;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
}