.card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
  grid-template-columns: 1fr auto;
  -ms-grid-rows: 282px 79px;
  grid-template-rows: 282px 79px;
  width: 282px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
}.card > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}.card > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}.card > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}.card > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}